*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 2000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

*{
    font-family: 'Open Sans', sans-serif;
}
/* NAV-header*/
header{
    width: 100%;
}

.nav{
    padding: 2px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 60px;
}

.menu-item{
    padding: 8px;
    font-size: 9px;
}

.button{
    background-color: #0061ff;
    color: white;
    font-size: 10px;
    padding: 4px 7px;
    margin-right: 5px;
}

/* HERO */
.hero-section{
    background-color: #b4d0e7;
}

.container-hero{
    padding-top: 35px;
    max-width: 1256px;
    padding-bottom: 10px;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-12{
    flex-basis: 100%;
}

.col-title-hero{
    font-size: 35px;
}

.col-hero{
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 40px;
}

.image-hero{
    flex-grow: 1;

}

.row-two{
    display: flex;
    margin-top: 30px;
}

.hero-section .col-icon:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f063";
    font-size: 30px;
    margin-top: auto;
}

.text{
    font-size: 13px;
    line-height: 30px;
}

/* Standard */
.standard-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-standard{
    margin-top: 140px;
    width: 1040px;
}

.col-button{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.row-stand{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.col-title{
    font-size: 20px;
}

.col{
    position: relative;
    padding: 30px;
    border: 1px solid black;
}

.col-standard{
    height: 927px;
    flex-basis: calc(100% / 4);
    line-height: 20px;
}

.flexbox{
    display: flex;
    flex-direction: column;
    gap: 15px;
} 


.margin{
    margin: 50px;
}

.title-icon{
    width: 100%;
    font-size: 15px;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    text-align: center;
}

.intro{
    margin-top: 10px;
}

.info{
    margin: 40px 0;
}

.contact{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-big{
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding: 1px;
    
}

.blu-button{
    text-decoration: underline;
    color: rgb(42, 107, 247);
}

.icon{
    display: flex;
    gap: 5px;
}

.gray{
    color: lightgray;
}

i{
    margin-right: 10px;
}

.contact::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f2d1\f2d1";
    color: lightgray; 
    align-self: 20px;
}

.point-important{
    margin-top: 50px;
    line-height: 20px;
}

.point-title{
    margin-bottom: 20px;
}

.check{
    color: #0061ff;
}

/* DEBUG */
