*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 2000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

*{
    font-family: 'Open Sans', sans-serif;
}

/* FLEX */
.flex{
    display: flex;
}

.flex-align{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.justify-bween{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-10{
    gap: 10px;
}

/* NAV-header*/
header{
    width: 100%;
}

.nav{
    padding: 2px;
}

header .logo{
    width: 60px;
}

.menu-item{
    padding: 8px;
    font-size: 9px;
}

.button{
    background-color: #0061ff;
    color: white;
    font-size: 10px;
    padding: 4px 7px;
    margin-right: 5px;
}

/* HERO */
.color-section{
    background-color: #b4d0e7;
}

.container-hero{
    padding-top: 35px;
    max-width: 1256px;
    padding-bottom: 10px;
}


.col-12{
    flex-basis: 100%;
}

.col-title-hero{
    font-size: 35px;
}

.col-hero{
    flex-basis: calc(100% / 3);
    align-items:flex-start;
    gap: 40px;
}

.image-hero{
    flex-grow: 1;

}

.row-two{
    margin-top: 30px;
}

.hero-section .col-icon:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f063";
    font-size: 30px;
    margin-top: auto;
}

.text{
    font-size: 13px;
    line-height: 20px;
}

/* Standard */
.standard-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-standard{
    margin-top: 80px;
    width: 1040px;
}

.col-button{
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.row-stand{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}


.col-title{
    font-size: 20px;
    margin: 30px 0;
}

.col{
    position: relative;
    padding: 30px;
    border: 1px solid black;
}

.col-standard{
    height: 927px;
    flex-basis: calc((100% - 100px) / 3);
    line-height: 20px;
}

.col-stand{
    flex-basis: 100%;
    margin-top: 20px;
}

.title-icon{
    width: 100%;
    font-size: 15px;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    text-align: center;
}

.intro{
    margin-top: 10px;
}

.info{
    margin: 40px 0;
    gap: 30px;
}

.contact, .contactoffice{
    margin-top: 10px;
    gap: 20px;
}

.button-big{
    font-size: 10px;
    padding: 1px;
    text-align: center;
    
}

.blu-button{
    text-decoration: underline;
    color: #0061ff;
}

.icon{
    gap: 5px;
}

.gray{
    color: lightgray;
}

i{
    margin-right: 10px;
}

.contact::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f2d1\f2d1";
    color: lightgray; 
    align-self: 20px;
}

.point-important{
    margin-top: 50px;
    line-height: 20px;
}

.point-title{
    margin-bottom: 20px;
}

.check{
    color: #0061ff;
}

.col-8, .col-4-{
    flex-basis: calc(100% / 2);
}

.text-col8{
    margin-top: 20px;
}

.contactoffice .button{
    width: 224px;
    height: 38px;
    padding: 12px;
    align-self: flex-end;
    position: relative;
    bottom: 40px;
}

/* standard-section partner */
.col-7, .col-4-{
    flex-basis: calc(100% / 3);
}

.col-7{
    flex-grow: 1;
}

.button-partner{
    border-style: solid;
    width: max-content;
    padding: 5px;
    margin: 40px 0;
}

/* standard-section operation */
.col-operation{
    flex-basis: calc(100% / 4);
}

/* 500.000 team utilizzano dp b */
.mgb{
    margin-bottom: 40px;
}

/* Log-img */
.log-img{
    margin-top: 100px;
}

.col-log{
    flex-basis: calc(100% / 3);
}

.col-img{
    flex-basis: calc(100% / 2);
    padding: 20px;
    background-size: 300px;
    height: 190px;
    position: relative;
}

.col-text-log{
    background-color: lightgray;
}

.img-200{
    width: 200px;
    margin: 40px;
}

.img-120{
    width: 120px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green-bg{
    background-color: #a2d39b;
}
.bordaux-bg{
    background-color: #61092b;
}
.celestial-bg{
    background-color: #0093ce;
}
.red-bg{
    background-color: #ff1b1c;
}
.gray-bg{
    background-color: #f5f5f5;
}
.red--bg{
    background-color: #d5001f;
}
.celestial--bg{
    background-color: #b3d0ef;
}
.blue-bg{
    background-color: #032381;
}
.yellow-bg{
    background-color: #ffd72f;
}

.text-cit::before{
	content: '';
	display: block;
	height: 1px;
	width: 60px;
	background-color: lightgray;
}

.col-text-log .text{
    margin: 26px 0;
}

.text-cit{
    width: 80%;
    margin: 0 auto;
}

.autor{
    margin-top: 10px;
}

/* Drop business */
.p-bottom{
    padding-bottom: 80px;
}

.title-color{
    color: #61092a;
}

.col-button{
    background-color: white;
    padding: 5px 20px;
}
/* DEBUG */
