*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 2000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* NAV-header*/
header{
    width: 100%;
    display: relative;
}

.nav{
    padding: 2px;
    display: fixed;
    top: 0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 60px;
}

.square{
    padding: 8px;
    font-size: 9px;
}

.button{
    background-color: #0061ff;
    color: white;
    font-size: 8px;
    padding: 4px 7px;
    margin-right: 5px;
}

/* HERO */
.container-hero{
    background-color: #b5d0e7;
}

.hero{
    display: flex;
    justify-content: center;
    max-height: 431px;
}

.hero-section{
    padding-top: 35px;
    width: 1256px;
}

h1{
    font-size: 60px;
}

.col-title-hero{
    width: 100%;
}

.col-hero{
    flex-basis: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
}

.image-hero{
    flex-grow: 2;

}

.row-two{
    display: flex;
    margin-top: 30px;
}

.hero-section .col-icon:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f063";
    font-size: 30px;
    position: relative;
    top: 40px;
}

.text{
    font-size: 12px;
}

/* Standard */
.container-standard{
    display: flex;
    justify-content: center;
}
.standard-section{
    margin-top: 140px;
    width: 1040px;
}

.row-stand{
    display: flex;
    align-items: center;
}

.title-h2{
    font-size: 20px;
}

.col-standard{
    height: 927px;
    border: 1px solid black;
    flex-basis: calc(100% / 3);
    position: relative;
    padding: 30px;
}

.margin{
    margin: 50px;
}
.title-icon{
    width: 100%;
    font-size: 15px;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    text-align: center;
}

.intro{
    margin-top: 10px;
    line-height: 25px;
}

.info{
    margin: 40px 0;
    line-height: 23px;
}

.contact{
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    padding-top: 20px;
}

.button-big{
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding: 1px;
    
}
.blu-button{
    text-decoration: underline;
    color: rgb(42, 107, 247);
}
.title-icon::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f594";
}

.user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
}

.folder::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\e185";
}

.assistance::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1e0";
}

.point-important{
    margin-top: 50px;
    line-height: 28px;
}

.check:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0061ff;
}

/* DEBUG */
